@import "vars"
@import "fonts" 

*
    box-sizing: border-box

body
    +reg

img
    max-width: 100%

.container
    max-width: 1170px
    width: 96%
    margin: auto 
    @media (max-width: 640px)
        width: 90%

.button
    background-color: $buttons
    color: $accent
    border: none
    +bold
    cursor: pointer
    padding: 18px 47px
    border-radius: 10px
    &:hover
        background-color: lighten($buttons, 10%)

.input
    border: 1px solid $border-input
    font-size: 15px
    border-radius: 10px
    padding: 20px 25px



.header
    padding: 20px 0
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &__info
        display: flex
        text-align: right
    &__contacts
        display: flex
        flex-direction: column
        justify-content: center
        @media (max-width: 640px)
            display: none
    &__adress
        color: $accent
        font-size: 13px
        font-weight: 400 
    &__phone
        font-size: 20px
        font-weight: 400
        color: $accent
        text-decoration: none
        display: block
        margin-top: 5px
        +bold
    &__button
        padding: 18px 47px
        border-radius: 10px 
        margin-left: 30px
        font-size: 13px 


.main
    background-color: $grey 
    &-block 
        display: flex
        padding: 40px 0 15px 0
        @media (max-width: 1200px)
            flex-direction: column
    &-text 
        flex-basis: 50%
        @media (max-width: 1200px)
            margin-bottom: 30px
        &__title
            font-size: 41px
            font-weight: 400
            color: $accent 
            padding-right: 200px
            line-height: 55px
            margin: 45px 0 20px 0 
            +bold
            @media (max-width: 1200px)
                padding-right: 10px
            @media (max-width: 640px)
                font-size: 30px 
                line-height: 1,4
        &__subtitle
            font-size: 20px
            font-weight: 400
            color: $accent 
            line-height: 65px
            +bold
            @media (max-width: 640px)
                font-size: 16px
        &-image 
            margin-right: -55px
            @media (max-width: 1200px)
                width: 100%
    &-list 
        margin: 40px 0 0 0
        padding: 0
        @media (max-width: 640px)
            margin: 30px 0 0 0
        &__item
            display: flex
            align-items: center
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
            @media (max-width: 640px)
                margin-bottom: 15px
        &__image
            width: 40px
            height: 40px
            border: 2px solid #ffd200
            border-radius: 50px 
            display: flex
            justify-content: center
            align-items: center
            margin-right: 30px
        &__text
            font-size: 14px
            color: $accent
            line-height: 24px
            max-width: 300px
            @media (max-width: 640px)
                font-size: 12px
                max-width: 250px    

.offer
    padding: 90px 0
    background: url("../img/offer-bg.jpg") no-repeat
    background-position: center right
    background-size: contain
    position: relative
    @media (max-width: 1200px)
        background-size: cover
    @media (max-width: 758px)
        background: #fff
    &:before
        content: ""
        width: 50%
        height: 100%
        position: absolute 
        background-color: #fff 
        top: 0
        left: 0
    &-block
        width: 50% 
        padding-right: 90px
        position: relative
        @media (max-width: 768px)
            width: 100%
            padding-right: 0
    &-title 
        font-size: 24px
        line-height: 35px
        +bold 
        max-width: 350px
        margin-bottom: 25px
    &-subtitle
        display: inline-block
        font-size: 16px
        max-width: 260px
        margin-bottom: 30px
    &__input
        margin-bottom: 30px
        width: 240px
        @media (max-width: 1200px)
            width: 100%
            margin-bottom: 15px
        &:first-child
            margin-right: 10px
    &__button
        width: 100%
        min-height: 70px
        @media (max-width: 1200px)
            font-size: 13px
        @media (max-width: 1200px)
            font-size: 16px